.lfr-objects__object-definition-details {
	margin-bottom: 25px;
	margin-top: 5.5rem;

	&-configuration {
		display: flex;
		flex-direction: column;
	}
}

.lfr-objects__object-definition-details-management-toolbar {
	position: fixed;
	top: var(--control-menu-container-height, 56px);
	width: 100%;
	z-index: 1;
}

.lfr__object-web-edit-object-details-external-data-source-container {
	display: grid;
	position: relative;
}

.lfr__object-web-edit-object-details-external-data-source-panel {
	align-items: center;
	display: flex;

	&-container-beta {
		margin-left: 5px;
	}
}
