@import 'atlas-variables';

.preview-container {
	.preview-file {
		margin: 0;

		.preview-file-container.preview-file-max-height {
			height: 600px;
		}
	}
}

.carousel {
	.pull-left,
	.pull-right {
		top: calc(50% - 32px);
	}

	.pull-left {
		left: 0;
	}

	.pull-right {
		right: 0;
	}
}
