@import 'atlas-variables';

.preview-container {
	.preview-file {
		margin: 0;

		.preview-file-container.preview-file-max-height {
			height: 600px;
		}
	}
}

.carousel {
	.carousel-previous,
	.carousel-next {
		top: 50%;
		transform: translateY(-50%);
	}

	.carousel-previous {
		left: 0;
	}

	.carousel-next {
		right: 0;
	}
}
